<!DOCTYPE html>
<html dir="ltr" lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="{{ site.author.name }}">
        {% if page.description %}<meta name="description" content="{{ page.description }}" />{% else %}
        <meta name="description" content="{{ page.title }}" />
        {% endif %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ ASSET_PATH }}/style.css" />
        <link rel="stylesheet" type="text/css" media="all" href="{{ ASSET_PATH }}/pygments.css" />
        <link href="atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }}  &raquo; ATOM Feed">
        <title>{{ page.title }}</title>
    </head>

    <body class="single single-format-standard">
        <header>
        <form role="search" method="get" id="searchform" action="http://www.google.com/search" >
            <div>
                <input type="text" value="" name="as_q" id="s" />
                <input type="hidden" name="sitesearch" value="{{ site.production_url }}" />
            </div>
        </form>
        <div class="hgroup">
            <h1><a href="/">{{ site.title }}</a></h1>
            <span class="hidden">{{ site.author.name }}</span>
            <a class="feedrss" href="/atom.xml">ATOM Rss</a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/" title="Home">Home</a></li>
                <li class="page_item"><a href="/archive.html">Archive</a></li>
                <li class="page_item"><a href="/categories.html">Categories</a></li>
                <li class="page_item"><a href="/tags.html">Tags</a></li>
            </ul>
        </div>
        </header>
        <hr/>
        <div id="content">
            {{ content }}
            <aside>
            <ul id="side" class="clear">
                <li id="links-2" class="widget widget_links"><h3 class="widgettitle">About Me</h3>
                <ul class='xoxo blogroll'>
                    <li><a href="mailto:{{ site.author.email }}" target="_blank" rel="me">Gtalk</a></li>
                    <li><a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" rel="me">Twitter</a></li>
                    <li><a href="https://github.com/{{ site.author.github }}/" target="_blank" rel="me">GitHub</a></li>
                    <li><a href="https://plus.google.com/{{ site.author.googleplus }}" target="_blank" rel="me">Google+</a></li>
                </ul>
                </li>
                <li id="tagcloud-2" class="widget">
                <h3 class="widgettitle">Tag Cloud</h3>
                <div class="post-meta">
                    {% assign tags_list = site.tags %}
                    {% include JB/tags_list %}
                </div>
                </li>
                <li id="recent-posts-2" class="widget widget_recent_entries">
                <h3 class="widgettitle">Recent Posts</h3>
                <ul>
                    {% for post in site.posts limit:10 %}
                    <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
                </li>
                <li id="recent-comments-2" class="widget widget_recent_comments">
                <h3 class="widgettitle">Recent Comments</h3>
                <script type="text/javascript" src="http://{{ site.JB.comments.disqus.short_name }}.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=50"></script>
                </li>
            </ul>
            </aside>
            <div class="clear"></div>
        </div>
        <hr/>
        <footer>
        <div>
            <p class="line">
            <span class="alignright">
                <a href="/" title="{{ site.title }}">首页</a> &brvbar; <a href="/atom.xml">RSS 订阅</a> &brvbar; <a href="/sitemap.txt">Sitemap</a>
            </span>
            iLost theme  &brvbar; Designed by <a href="http://xuui.net/">Xu.hel</a> in ChengDu. Forked by <a href="http://www.zzsec.org/">zzsec</a>.
            </p>
            <p><span class="alignright">Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a></span>&copy; 版权所有 2011-2013 <a href="{{ site.production_url }}" title="{{ site.title }}" rel="home">{{ site.title }}</a></p>
        </div>
        </footer>
        {% include JB/analytics %}
    </body>
</html>
