---
layout: page
title: dieyushi's Blog =)
description: "dieyushi's personal blog, focus on security"
---
{% include JB/setup %}

<div id="content">
    <article id="post_list">
    {% for post in paginator.posts %}
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <p class="author">
    <span class="date">{{post.date | date_to_string }}</span>
    </p>
    <div class="content">
        {{ post.content | split:'<!--more-->' | first }}
    <a href="{{ BASE_PATH }}{{ post.url }}" alt="Read
        More" class="readmore"><span>&#10149;</span>More</a>
    </div>
    <ul class="tag_box inline">
        {% assign tags_list = post.tags %}
        {% include JB/tags_list %}
    </ul>
    {% endfor %}
    </article>
</div>

<!-- Pagination links -->
<div id="post-pagination" class="pagination">
<ul>
  {% if paginator.previous_page %}
  <li class="previous">
    {% if paginator.previous_page == 1 %}
    <a href="/">&larr; Previous</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}">&larr; Previous</a>
    {% endif %}
  </li>
  {% endif %}

  {% if paginator.next_page %}
  <li class="next">
    <a href="/page{{paginator.next_page}}">Next &rarr;</a>
  </li>
  {% endif %}
</ul>
</div>
